<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
         <editor 
            name="BibTex Editor"
            extensions="bib"
            icon="icons/bib-editor-16.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.zog.tex.bib.ui.editor.editors.BibEditor"
            id="com.zog.tex.bib.ui.editor.editors.BibEditor"
         >
         </editor>
   </extension>

</plugin>
